# Threads API Configuration
THREADS_USERNAME=<your_threads_username>
THREADS_PASSWORD=<your_threads_password>
COMMENT_TIMES=<number_of_comments_to_post>
COMMENTS=Đây là comment tự động: hoa gấu bông 15k/b nhé cả nhà ơi (Bot tự động nên không upload được ảnh), cả nhà quan tâm click vào link (Yên tâm 100% không phải bọn shopee óc chó đâu): https://www.facebook.com/share/p/19myvXp4GA/
COMMENT_DELAY_MIN=<min_delay_in_seconds>
COMMENT_DELAY_MAX=<max_delay_in_seconds>