# Threads API Configuration
THREADS_USERNAME=<something>
THREADS_PASSWORD=<something>
COMMENT_TIMES=<something>
COMMENTS=<something>
COMMENT_DELAY_MIN=<something>
COMMENT_DELAY_MAX=<something>
PROMPT_ENGINEERING=<something>
GG_API_KEY_1=<something>
GG_API_KEY_2=<something>